<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    

    <link rel="stylesheet" href="./styles/styles.css">
    <script src="./scripts/script.js"></script>
</head>

<body>
    <div id="container">
        <div class="small-section">
            aside
        </div>
        <div class="big-section">
            <header>
                <div id="logo" class="head-cell"><a href=""><img src="images/techlogo8-1.png" alt=""></a></div>
                <div class="head-cell">
    
                </div>
            </header>
            <nav>
                <ul>
                    <li><a href="#">Links 1</a></li>
                    <li><a href="#">Links 2</a></li>
                    <li><a href="#">Links 3</a></li>
                    <li><a href="#">Links 4</a></li>
                </ul>
            </nav>
            <main>
                <section class="spacing">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, natus reiciendis. Id magnam saepe
                        voluptas doloremque deserunt culpa animi beatae voluptatum voluptates placeat, in iure nemo omnis
                        aperiam! Iusto, suscipit.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati molestias ab harum facere
                        laudantium
                        praesentium unde nam explicabo modi, corrupti error sint assumenda ratione dolor cupiditate animi
                        aliquid provident. Praesentium!</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi impedit facere dolore nemo accusamus
                        magnam nostrum. Nisi obcaecati nam minima assumenda quod modi esse ad voluptatibus tempore. Ea,
                        corporis
                        aspernatur.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, natus reiciendis. Id magnam saepe
                        voluptas doloremque deserunt culpa animi beatae voluptatum voluptates placeat, in iure nemo omnis
                        aperiam! Iusto, suscipit.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati molestias ab harum facere
                        laudantium
                        praesentium unde nam explicabo modi, corrupti error sint assumenda ratione dolor cupiditate animi
                        aliquid provident. Praesentium!</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi impedit facere dolore nemo accusamus
                        magnam nostrum. Nisi obcaecati nam minima assumenda quod modi esse ad voluptatibus tempore. Ea,
                        corporis
                        aspernatur.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, natus reiciendis. Id magnam saepe
                        voluptas doloremque deserunt culpa animi beatae voluptatum voluptates placeat, in iure nemo omnis
                        aperiam! Iusto, suscipit.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati molestias ab harum facere
                        laudantium
                        praesentium unde nam explicabo modi, corrupti error sint assumenda ratione dolor cupiditate animi
                        aliquid provident. Praesentium!</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi impedit facere dolore nemo accusamus
                        magnam nostrum. Nisi obcaecati nam minima assumenda quod modi esse ad voluptatibus tempore. Ea,
                        corporis
                        aspernatur.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, natus reiciendis. Id magnam saepe
                        voluptas doloremque deserunt culpa animi beatae voluptatum voluptates placeat, in iure nemo omnis
                        aperiam! Iusto, suscipit.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati molestias ab harum facere
                        laudantium
                        praesentium unde nam explicabo modi, corrupti error sint assumenda ratione dolor cupiditate animi
                        aliquid provident. Praesentium!</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi impedit facere dolore nemo accusamus
                        magnam nostrum. Nisi obcaecati nam minima assumenda quod modi esse ad voluptatibus tempore. Ea,
                        corporis
                        aspernatur.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, natus reiciendis. Id magnam saepe
                        voluptas doloremque deserunt culpa animi beatae voluptatum voluptates placeat, in iure nemo omnis
                        aperiam! Iusto, suscipit.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati molestias ab harum facere
                        laudantium
                        praesentium unde nam explicabo modi, corrupti error sint assumenda ratione dolor cupiditate animi
                        aliquid provident. Praesentium!</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi impedit facere dolore nemo accusamus
                        magnam nostrum. Nisi obcaecati nam minima assumenda quod modi esse ad voluptatibus tempore. Ea,
                        corporis
                        aspernatur.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, natus reiciendis. Id magnam saepe
                        voluptas doloremque deserunt culpa animi beatae voluptatum voluptates placeat, in iure nemo omnis
                        aperiam! Iusto, suscipit.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati molestias ab harum facere
                        laudantium
                        praesentium unde nam explicabo modi, corrupti error sint assumenda ratione dolor cupiditate animi
                        aliquid provident. Praesentium!</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi impedit facere dolore nemo accusamus
                        magnam nostrum. Nisi obcaecati nam minima assumenda quod modi esse ad voluptatibus tempore. Ea,
                        corporis
                        aspernatur.</p>
                </section>
            </main>
            <footer class="spacing">
                <span class="moveDown"> Copyright notice</span>
            </footer>
        </div>

        
    </div>
</body>

</html>